.card-container {
    display: flex;
    width: 60%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2px;
    margin-left: 20%;

    transition: transform 0.5s ease, opacity 0.3s ease;
}

.slide-out {
    transform: translateY(-100%); /* 위로 올라가는 애니메이션 */
    opacity: 0; /* 사라지는 효과 */
}

.slide-in {
    transform: translateY(0); /* 아래로 내려오는 애니메이션 */
    opacity: 1; /* 보이는 효과 */
}

.card {
    flex: 0 1 calc(20% - 10px);
    margin: 2px;
    max-width: 300px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 1.2em;
    margin: 0;
}

.card-text {
    color: #555;
}

